<html class="container searchbox">
	<span class="search">
		<input class="box" (keyup)="searchForCity($event)" placeholder="search for a city">
		<span *ngIf="results">
		  <p *ngFor="let result of results | slice:0:9">
		  	<span class=" item">
		    	<a class="result" href="cities/{{ result.city }}" target="_blank">
		      	{{ result.city }}, {{ result.state}}
		    	</a>
		  		<span (click)="addCity(result)" class="plus" style="cursor: pointer"><img src="assets/plus.svg"></span>
	  		</span>
		  </p>
		  </span>
	</span>
</html>
