<html>
<body class="container">
<div *ngIf="isUserLoggedIn">
<div class="card profile-card">
  <div class="card-body row">
  <span class="col-2" ><img width="100px" src="https://robohash.org/{{user.username}}?set=set5" /></span>
  <div class="col-6">
    <h5 class="card-title">{{user.username}}</h5>
    <p class="card-text">{{user.email}}</p>
  </div>
  <div class="col-4">
    <p>{{interestedCities.length}} saved cities.</p>
    <p> {{favoriteState}}</p>
    <a (click)="logout()" style="color:white;" class="btn btn-dark btn-sm">logout</a>
  </div>
  </div>
</div>
<br/>
<div class="card">
  <div class="card-body">
    <h2>Your Saved Cities</h2>
  <div class="list-group list-group-flush">
  <span class="list-group-item row" *ngFor=" let obj of interestedCities;">
    		    	<img class="state"src="../assets/states/{{obj.state.toLowerCase()}}.png"/>
              <a class="result" [routerLink]="['/cities', obj.city, obj.state ]" target="_blank">
		      	{{ obj.city }}, {{ obj.state}}
		    	</a>
      <span (click)="removeCity(obj)" class="minus col-6" style="cursor:pointer;">
        <img src="assets/minus.svg">
      </span>
  </span>
    </div>
  </div>
</div>
</div>
<div *ngIf="!isUserLoggedIn">
    <h1 style="font-size: 400px;">:(</h1>
    <h1>
      your website ran into problems and you need to be logged in.
    </h1>
    <a href="/login" style="color:white;" class="btn btn-dark btn-sm">login</a>
  </div>
</body>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
</html>
